# IDE and editor files
.vscode/
.idea/

# MacOS-specific files
.DS_Store

# From Cargo
target

# Compiled bytecode
*.mtc

# Execution trace
*.csv

# Proof file
*.proof.bin

# REPL history
.maat_history

# Profiling artifacts
*.profraw
*.profdata
perf.data*

# Editor swap files
*.swp
*.swo
*~
